<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007017194525-is59jm1pe8p4dte27eq7v81dl0qkqa7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007017194525-is59jm1pe8p4dte27eq7v81dl0qkqa7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007017194525-gjuof2koi20prvi81b0ur1848qj6ei7a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCarMXNZeaXVd-I5RpZMTfoLtDFTUgyrow</string>
	<key>GCM_SENDER_ID</key>
	<string>1007017194525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peng.yourcare</string>
	<key>PROJECT_ID</key>
	<string>your-care-8ba48</string>
	<key>STORAGE_BUCKET</key>
	<string>your-care-8ba48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007017194525:ios:b6d544a0316517702a02f4</string>
</dict>
</plist>